doctype html
html(ng-app="moloch")

  head
    base(href=basePath)
    title(ng-bind="title")
    meta(charset='utf8')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.css')
    if (theme == 'custom-theme')
      link(rel='stylesheet', href='user.css')

  body(class=theme)
    navbar
    div.margin-for-main-navbar(ng-view)
    footer.footer

    script(src='vendor.bundle.js')
    script(src='app.bundle.js')
    script.
      angular.module('moloch.Constants', [])
         .constant('Constants', Object.freeze({
           demoMode: #{demoMode},
           devMode : #{devMode},
           version : '#{version}'
         }));
