!!! 5
html
  head
    title Moloch - #{title}
    script(type='text/javascript', src='jquery-1.7.2.min.js')
    script(type='text/javascript', src='DataTables-1.9.1/media/js/jquery.dataTables.min.js')
    <!--[if IE]><script language="javascript" type="text/javascript" src="flot-0.7/excanvas.min.js"></script><![endif]-->
    script(type='text/javascript', src='flot-0.7/jquery.flot.min.js')
    script(type='text/javascript', src='flot-0.7/jquery.flot.selection.min.js')
    script(type='text/javascript', src='flot-0.7/jquery.flot.resize.min.js')
    script(type='text/javascript', src='flot-0.7/jquery.flot.navigate.min.js')
    script(type='text/javascript', src='jquery.qtip.min.js')
    script(type='text/javascript', src='d3.v2.js')
    script(type='text/javascript', src='common.js')

    link(rel='stylesheet', type='text/css', href='DataTables-1.9.1/media/css/demo_table.css')
    link(rel='stylesheet', type='text/css', href='jquery-ui.css')
    link(rel='stylesheet', type='text/css', href='jquery.qtip.min.css')
    link(rel='stylesheet', type='text/css', href='style.css')
    if (typeof titleLink === "string")
      style(type='text/css')
        ##{titleLink} { color:white}
  body(id="body-#{titleLink}")
    #header
      div#logo
        a(href='about')
          img(src='header_logo.png', style="border-style:none")
      div#nav
        ul.ulist-nav
          li
            a#sessionsLink.expressionsLink(href='#{basePath}') Sessions
          if (spiData)
            li
              a#spiLink.expressionsLink(href='spiview') SPI View
            li
              a#spigraphLink.expressionsLink(href='spigraph') SPI Graph
          li
            a#connectionsLink.expressionsLink(href='connections') Connections
          li
            a#filesLink(href='files') Files
          if user.createEnabled
            li
              a#usersLink(href='users') Users
          li
            a#statsLink(href='stats') Stats
          li.last
            a.config#changePasswordLink(href='password') Change Password
      - if (user.createEnabled)
        a(href="#{elasticBase}/_plugin/head/",target="_blank")
          div#esstatus.tooltip
      div#version 
        p moloch v#{molochversion}
      - if (isIndex)
        form#searchForm
          div#searchStuff
            span#searchStuffLeft
              select(id='graphSize')
                option(value="100") 100
                option(value="500") 500
                option(value="1000",selected) 1000
                option(value="5000") 5000
                option(value="10000") 10000
              select(id='graphType')
                option(value="useDir=1&usePort=0") Directed/No Port
                option(value="useDir=1&usePort=1") Directed/Port
                option(value="useDir=0&usePort=0",selected) Indirect/No Port
                option(value="useDir=0&usePort=1") Indirect/Port
              select(id='date')
                option(value=1,selected) Last 1 hr
                option(value=6) Last 6 hrs
                option(value=24) Last 24 hrs 
                option(value=48) Last 48 hrs 
                option(value=72) Last 3 days
                option(value=168) Last Week
                option(value=720) Last Month
                option(value=4380) Last 6 Months
                option(value=-1) All
                option(value=-2) Custom
            input#expression(type='search', name='expression')
            button#search(type="submit") Search
            button#export(type="button") Export
            //button#info(type="button") I
    - if (isIndex)
      div#customDate
        center
        span Beginning Time:
        input#startDate(size=21)
        span Ending Time:
        input#stopDate(size=21)
        
    div.pageBody(id="pageBody-#{titleLink}")
      != body
    div(style="display:none")
      form#exportForm
        div#export-opened-div
          input(type="radio",id="export-opened",name="export-type",value="opened")  
          label(for="export-opened") Export <span id="export-opened-cnt">0</span> opened items
        div#export-visible-div
          input(type="radio",id="export-visible",name="export-type",value="visible",checked) 
          label(for="export-visible") Export <span id="export-visible-cnt">0</span> visible items
        div#export-all-div
          input(type="radio",id="export-all",name="export-type",value="all") 
          label(for="export-all") Export <span id="export-all-cnt">0</span> query matching items
        label(for="exportfilename") Filename:
        input#exportfilename(size=45, value="sessions.pcap")
        br
        button Export

script(type='text/javascript')
  var molochFields = !{fieldsMap};
  var molochFieldsExp = Object.keys(molochFields);
