//- Display a clickable value
//- set true for stringify if the value should be surrounded by "" in the query
mixin clickableValue(expr, value, stringify, parse)
  session-field(expr=expr, value=value, parse=parse class="detail-field", stringify=stringify, timezone=user.settings.timezone)

//- Standard method to print an array of values with commas
mixin fieldsSelect(name,classname,simple,extra)
  select(id=name,name=name,class=classname)
    - var fields = fieldsArr
    if (extra)
      - fields = fields.concat(extra).sort(function(a,b) {return (a.exp > b.exp?1:-1);})
    each value in fields
      if (value.regex)
        - continue

      if (value.dbField !== null)
        if (simple)
          option(value="#{value.dbField}") #{value.exp}
        else
          if (value.type.match(/textfield$/))
            if (value.dbField.match(/.snow$/))
              - var tmp = value.dbField.replace(".snow", ".raw");
              option(value="#{tmp}", exp='#{value.exp}') #{value.exp}
            else
              option(value="raw#{value.dbField}", exp='#{value.exp}') #{value.exp}
            option(value="#{value.dbField}", exp='#{value.exp}') #{value.exp} Tokens
          else
            option(value="#{value.dbField}", exp='#{value.exp}') #{value.exp}

mixin arrayPrint(container, field, expr, stringify)
  if ((container && container[field]))
    each value,i in container[field]
      if (value.length == 0)
        span &lt;empty&gt;
      else
        +clickableValue(expr, value, stringify)

//- Standard method to print an array of values
mixin arrayList(container, field, title, expr, extra, max, stringify)
  if (!max)
    - max = 25
  if ((container && container[field]) || extra)
    dt 
      strong #{title}
    dd
      if (container && container[field])
        each value,i in container[field]
          if (i == max)
            |<span style="display:none">
          if (value.length == 0)
            span &lt;empty&gt;
          else
            +clickableValue(expr, value, stringify)
        if (container[field].length > max)
          |<a class="cursor-pointer show-more-items" ng-click="$ctrl.showFewerItems($event)">less...</a></span>
          a.cursor-pointer.show-more-items(ng-click="$ctrl.showMoreItems($event)") more...
      if (extra)
        |!{extra}

//- Standard method to print an array of values with commas
mixin stringList(container, field, title, expr, extra)
  if ((container && container[field]) || extra)
    dt #{title}
    dd
      if (container && container[field])
        - value = container[field]
        if (value.length == 0)
          span &lt;empty&gt;
        else
          +clickableValue(expr, value, true)
      if (extra)
        if (container && container[field] && container[field].length > 0)
          |, 
        |!{extra}

//- Standard method to print ip, port, geo, asn, and rir info
mixin ipPrintCommon(ipstr,port,geo,as,rir,expr,full,v6)
  span
    if (full)
      +clickableValue(expr, ipstr)
    else if (v6)
      +clickableValue('tipv6.' + expr, ipstr)
    else
      +clickableValue('ip.' + expr, ipstr)
    - if (port)
      strong :
      if (full)
        +clickableValue(expr + '.port', port)
      else
        +clickableValue('port.' + expr, port)
    - if (geo)
      | (
      if (full)
        +clickableValue(expr + '.country', geo)
      else
        +clickableValue('country.' + expr, geo)
      |) &nbsp;
    - if (as)
      | [
      if (full)
        +clickableValue(expr + '.asn', as, true)
      else
        +clickableValue('asn.' + expr, as, true)
      |] &nbsp;
    - if (rir)
      | {
      if (full)
        +clickableValue(expr + '.rir', rir)
      else
        +clickableValue('rir.' + expr, rir)
      |}

mixin ipPrint(ip,port,geo,as,rir,expr, full)
  +ipPrintCommon(ip, port, geo, as, rir, expr, full, 0)

mixin ipPrint6(ip,port,geo,as,rir,expr, full)
  - var ipstr = ip.match(/.{1,4}/g).join(":").replace(/:0{1,3}/g, ":").replace(/^0000:/, "0:");
  +ipPrintCommon("[" + ipstr + "]", port, geo, as, rir, expr, full, 1)

//- Method to print ip info with commas when the field names use the old prefix method - shouldn't be used for new fields
mixin ipArrayListPre(session, field, title, expr, max)
  if (!max)
    - max = 25
  if (session[field])
    dt #{title}
    dd
      each ip,i in session[field]
        if (i == max)
          |<span style="display:none">
        +ipPrint(session[field][i], undefined, (session["g" + field]?session["g" + field][i]:null), (session["as" + field]?session["as" + field][i]:null), (session["rir" + field]?session["rir" + field][i]:null), expr)
      if (session[field].length > max)
        |</span>
        a.cursor-pointer.show-more-items &hellip;

//- Standard method to print ip info with commas
mixin ipArrayList(container, field, title, expr, max)
  if (!max)
    - max = 25
  if (container[field])
    dt #{title}
    dd
      each ip,i in container[field]
        if (i == max)
          |<span style="display:none">
        +ipPrint(container[field][i], undefined, (container[field + "-geo"]?container[field + "-geo"][i]:null), (container[field + "-asn"]?container[field + "-asn"][i]:null), (container[field + "-rir"]?container[field + "-rir"][i]:null), expr, true)
      if (container[field].length > max)
        |</span>
        a.cursor-pointer.show-more-items &hellip;
