div.packet-options

if (session._err)
  div.alert.alert-danger 
    span.fa.fa-exclamation-triangle
    strong &nbsp; #{session._err}
else 
  if (session.pa > 200)
    b Only showing first 200 packets
  table#textpacket
    tr
      th.textcol.srccol Source
      th.textcol.dstcol Destination

    each item, i in data
      tr
        if item.client == 0
          td.sessionsrc
            if (item.ts)
              span.sessionDetailTS(ts="#{item.ts}", bytes="#{item.bytes}")
            |!{item.html}
          td
        else
          td
          td.sessiondst
            if (item.ts)
              span.sessionDetailTS(ts="#{item.ts}", bytes="#{item.bytes}")
            |!{item.html}
