ul.nav.nav-pills.margined-bottom-xlg
  if (session.ro)
    li.cursor-pointer
      a(ng-click='$ctrl.allSessions(' + '"' + session.ro + '"' + ', ' + session.fp + ')') All Sessions
    li.cursor-pointer
      a(href=session.no + '/pcap/' + session.id + '.pcap', target="_blank") Download Segment Pcap
    li.cursor-pointer
      a(href=session.no + '/entirePcap/' + session.ro + '.pcap', target="_blank") Download Entire Pcap
  else
    li.cursor-pointer
      a(href=session.no + '/pcap/' + session.id + '.pcap', target="_blank") Download Pcap
  li.cursor-pointer
    a(href=session.no + '/raw/' + session.id + '?type=src', target="_blank") Source Raw
  li.cursor-pointer
    a(href=session.no + '/raw/' + session.id + '?type=dst', target="_blank") Destination Raw
  li.cursor-pointer
    a(ng-click="openPermalink()", href='sessions?expression=id=' + session.id + '&startTime=' + session.fp + '&stopTime=' + session.lp + '&openAll=1') Permalink
  li.cursor-pointer.dropdown
    a(data-toggle="dropdown", role="button") Actions &nbsp;
      span.fa.fa-caret-down
    ul.dropdown-menu.session-actions-menu

div.form-container

dl
  dt Id
  dd
    +clickableValue('id', session.id)
    if (session.ro)
      strong.margined-left-xxxxlg Root Id:
      +clickableValue('rootId', session.ro)
    else
      | &nbsp;

  dt Start
  dd
    + clickableValue('starttime', session.lp, true)
    strong.margined-left-xxxxlg Stop
    + clickableValue('stoptime', session.lp, true)

  dt
    +clickableLabel('node', 'Node')
  dd
    +clickableValue('node', session.no, true)

  +arrayList(session, "prot-term", "Protocols", "protocols")

  dt
   +clickableLabel('ip.protocol', 'IP Protocol')
  dd
    +clickableValue('ip.protocol', session.pr)

  +arrayList(session, "user", "Users", "user")
  +arrayList(session, "asset-term", "Assets", "asset")

  if (session.by1 || session.by2)
    dt
      div.btn-group.clickable-label(uib-dropdown="")
        button.btn.btn-xs.btn-default(uib-dropdown-toggle="")
          strong Src&nbsp;
          span.caret
        ul.dropdown-menu(uib-dropdown-menu="")
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('packets.src', 0)")
              | Export Unique Src Packets
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('packets.src', 1)")
              | Export Unique Src Packets with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('packets.src')")
              | Open Src Packets SPI Graph
          li.divider
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('bytes.src', 0)")
              | Export Unique Src Bytes
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('bytes.src', 1)")
              | Export Unique Src Bytes with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('bytes.src')")
              | Open Src Bytes SPI Graph
          li.divider
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('databytes.src', 0)")
              | Export Unique Src Databytes
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('databytes.src', 1)")
              | Export Unique Src Databytes with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('databytes.src')")
              | Open Src Databytes SPI Graph
    dd
      strong.medium Packets
      +clickableValue('packets.src', session.pa1)

      strong.medium.margined-left-xxlg Bytes
      +clickableValue('bytes.src', session.by1)

      strong.medium.margined-left-xxlg Databytes
      +clickableValue('databytes.src', session.db1)

    dt
      div.btn-group.clickable-label(uib-dropdown="")
        button.btn.btn-xs.btn-default(uib-dropdown-toggle="")
          strong Dst&nbsp;
          span.caret
        ul.dropdown-menu(uib-dropdown-menu="")
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('packets.dst', 0)")
              | Export Unique Dst Packets
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('packets.dst', 1)")
              | Export Unique Dst Packets with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('packets.dst')")
              | Open Dst Packets SPI Graph
          li.divider
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('bytes.dst', 0)")
              | Export Unique Dst Bytes
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('bytes.dst', 1)")
              | Export Unique Dst Bytes with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('bytes.dst')")
              | Open Dst Bytes SPI Graph
          li.divider
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('databytes.dst', 0)")
              | Export Unique Dst Databytes
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('databytes.dst', 1)")
              | Export Unique Dst Databytes with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('databytes.dst')")
              | Open Dst Databytes SPI Graph
    dd
      strong.medium Packets
      +clickableValue('packets.dst', session.pa2)

      strong.medium.margined-left-xxlg Bytes
      +clickableValue('bytes.dst', session.by2)

      strong.medium.margined-left-xxlg Databytes
      +clickableValue('databytes.dst', session.db2)

  if (session["mac1-term"])
    dt
      div.btn-group.clickable-label(uib-dropdown="")
        button.btn.btn-xs.btn-default(uib-dropdown-toggle="")
          strong Ethernet&nbsp;
          span.caret
        ul.dropdown-menu(uib-dropdown-menu="")
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('mac.src', 0)")
              | Export Unique Src Mac
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('mac.src', 1)")
              | Export Unique Src Mac with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('mac.src')")
              | Open Src Mac SPI Graph
          li.divider
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('mac.dst', 0)")
              | Export Unique Dst Mac
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('mac.dst', 1)")
              | Export Unique Dst Mac with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('mac.dst')")
              | Open Dst Mac SPI Graph
          li.divider
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('vlan', 0)")
              | Export Unique VLan
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('vlan', 1)")
              | Export Unique VLan with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('vlan')")
              | Open VLan SPI Graph
    dd
      strong.medium Src Mac
      +arrayPrint(session, "mac1-term", "mac.src", true)

      strong.medium.margined-left-xxlg Dst Mac
      +arrayPrint(session, "mac2-term", "mac.dst", true)

      if (session.vlan)
        strong.medium.margined-left-xxlg VLan
        +arrayPrint(session, "vlan", "vlan")

  dt
    div.btn-group.clickable-label(uib-dropdown="")
      button.btn.btn-xs.btn-default(uib-dropdown-toggle="")
        strong Src IP/Port&nbsp;
        span.caret
      ul.dropdown-menu(uib-dropdown-menu="")
        if (session['tipv61-term'])
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('tipv6.src', 0)")
              | Export Unique Src IPv6
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('tipv6.src', 1)")
              | Export Unique Src IPv6 with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('tipv6.src')")
              | Open Src IPv6 SPI Graph
        else
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('ip.src', 0)")
              | Export Unique Src IP
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('ip.src', 1)")
              | Export Unique Src IP with counts
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('ip.src:p1', 0)")
              | Export Unique Src IP:Port
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('ip.src:p1', 1)")
              | Export Unique Src IP:Port with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('ip.src')")
              | Open Src IP SPI Graph
        li.divider
        li
          a.cursor-pointer(ng-click="$ctrl.exportUnique('port.src', 0)")
            | Export Unique Src Port
        li
          a.cursor-pointer(ng-click="$ctrl.exportUnique('port.src', 1)")
            | Export Unique Src Port with counts
        li
          a.cursor-pointer(ng-click="$ctrl.openSpiGraph('port.src')")
            | Open Src Port SPI Graph
        li.divider
        li
          a.cursor-pointer(ng-click="$ctrl.exportUnique('country.src', 0)")
            | Export Unique Src Country
        li
          a.cursor-pointer(ng-click="$ctrl.exportUnique('country.src', 1)")
            | Export Unique Src Country with counts
        li
          a.cursor-pointer(ng-click="$ctrl.openSpiGraph('country.src')")
            | Open Src Country SPI Graph
        li.divider
        li
          a.cursor-pointer(ng-click="$ctrl.exportUnique('rawas1', 0)")
            | Export Unique Src ASN
        li
          a.cursor-pointer(ng-click="$ctrl.exportUnique('rawas1', 1)")
            | Export Unique Src ASN with counts
        li
          a.cursor-pointer(ng-click="$ctrl.openSpiGraph('rawas1')")
            | Open Src ASN SPI Graph
        li.divider
        li
          a.cursor-pointer(ng-click="$ctrl.exportUnique('rir.src', 0)")
            | Export Unique Src RIR
        li
          a.cursor-pointer(ng-click="$ctrl.exportUnique('rir.src', 1)")
            | Export Unique Src RIR with counts
        li
          a.cursor-pointer(ng-click="$ctrl.openSpiGraph('rir.src')")
            | Open Src RIR SPI Graph
  dd
    if (session['tipv61-term'])
      +ipPrint6(session['tipv61-term'], session.p1, session.g1, session.as1, session.rir1, "src")
    else
      +ipPrint(session.a1, session.p1, session.g1, session.as1, session.rir1, "src")

  dt
    div.btn-group.clickable-label(uib-dropdown="")
      button.btn.btn-xs.btn-default(uib-dropdown-toggle="")
        strong Dst IP/Port&nbsp;
        span.caret
      ul.dropdown-menu(uib-dropdown-menu="")
        if (session['tipv62-term'])
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('tipv6.dst', 0)")
              | Export Unique Dst IPv6
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('tipv6.dst', 1)")
              | Export Unique Dst IPv6 with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('tipv6.dst')")
              | Open Dst IPv6 SPI Graph
        else
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('ip.dst', 0)")
              | Export Unique Dst IP
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('ip.dst', 1)")
              | Export Unique Dst IP with counts
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('ip.dst:p2', 0)")
              | Export Unique Dst IP:Port
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('ip.dst:p2', 1)")
              | Export Unique Dst IP:Port with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('ip.dst')")
              | Open Dst IP SPI Graph
        li.divider
        li
          a.cursor-pointer(ng-click="$ctrl.exportUnique('port.dst', 0)")
            | Export Unique Dst Port
        li
          a.cursor-pointer(ng-click="$ctrl.exportUnique('port.dst', 1)")
            | Export Unique Dst Port with counts
        li
          a.cursor-pointer(ng-click="$ctrl.openSpiGraph('port.dst')")
            | Open Dst Port SPI Graph
        li.divider
        li
          a.cursor-pointer(ng-click="$ctrl.exportUnique('country.dst', 0)")
            | Export Unique Dst Country
        li
          a.cursor-pointer(ng-click="$ctrl.exportUnique('country.dst', 1)")
            | Export Unique Dst Country with counts
        li
          a.cursor-pointer(ng-click="$ctrl.openSpiGraph('country.dst')")
            | Open Dst Country SPI Graph
        li.divider
        li
          a.cursor-pointer(ng-click="$ctrl.exportUnique('rawas2', 0)")
            | Export Unique Dst ASN
        li
          a.cursor-pointer(ng-click="$ctrl.exportUnique('rawas2', 1)")
            | Export Unique Dst ASN with counts
        li
          a.cursor-pointer(ng-click="$ctrl.openSpiGraph('rawas2')")
            | Open Dst ASN SPI Graph
        li.divider
        li
          a.cursor-pointer(ng-click="$ctrl.exportUnique('rir.dst', 0)")
            | Export Unique Dst RIR
        li
          a.cursor-pointer(ng-click="$ctrl.exportUnique('rir.dst', 1)")
            | Export Unique Dst RIR with counts
        li
          a.cursor-pointer(ng-click="$ctrl.openSpiGraph('rir.dst')")
            | Open Dst RIR SPI Graph
  dd
    if (session['tipv62-term'])
      +ipPrint6(session['tipv62-term'], session.p2, session.g2, session.as2, session.rir2, "dst")
    else
      +ipPrint(session.a2, session.p2, session.g2, session.as2, session.rir2, "dst")

  if (session.fb1 || session.fb2)
    dt
      div.btn-group.clickable-label(uib-dropdown="")
        button.btn.btn-xs.btn-default(uib-dropdown-toggle="")
          strong Payload8&nbsp;
          span.caret
        ul.dropdown-menu(uib-dropdown-menu="")
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('payload8.src.hex', 0)")
              | Export Unique Src Payload8
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('payload8.src.hex', 1)")
              | Export Unique Src Payload8 with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('payload8.src.hex')")
              | Open Src Payload8 SPI Graph
          li.divider
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('payload8.dst.hex', 0)")
              | Export Unique Dst Payload8
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('payload8.dst.hex', 1)")
              | Export Unique Dst Payload8 with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('payload8.dst.hex')")
              | Open Dst Payload8 SPI Graph
    dd
      if (session.fb1)
        strong.medium Src
        - var fb1a = new Buffer(session.fb1, "hex").toString();
        +clickableValue('payload8.src.hex', session.fb1)
        | (
        +clickableValue('payload8.src.utf8', fb1a)
        |)
      if (session.fb2)
        if (session.fb1)
          strong.medium.margined-left-xxlg Dst
        else
          strong.medium Dst
        - var fb2a = new Buffer(session.fb2, "hex").toString();
        +clickableValue('payload8.dst.hex', session.fb2)
        | (
        +clickableValue('payload8.dst.utf8', fb2a)
        |)

  div.tag-list
    +arrayList(session, "ta", "Tags", "tags", '<div ng-click="displayFormContainer({form:\'add:tags\'})" uib-tooltip="Add a new tag to this session" class="btn btn-xs btn-theme-secondary margined-left-sm"><span class="fa fa-plus-circle"></span> </div>')

  if (session.fs && session.fs.length > 0)
    +arrayList(session, "fs", "Files", "file")

  if (session.scrubby)
    dt
      +clickableLabel('scrubbed.by', 'Scrubbed')
    dd
      div.margined-top-sm.margined-bottom-sm
        | By Moloch user #{session.scrubby} at #{new Date(session.scrubat)}

  if (session.socksip)
    dt
      div.btn-group.clickable-label(uib-dropdown="")
        button.btn.btn-xs.btn-default(uib-dropdown-toggle="")
          strong Socks Dst&nbsp;
          span.caret
        ul.dropdown-menu(uib-dropdown-menu="")
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('ip.socks', 0)")
              | Export Unique Socks Dst
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('ip.socks', 1)")
              | Export Unique Socks Dst with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('ip.socks')")
              | Open Socks Dst SPI Graph
          li.divider
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('port.socks', 0)")
              | Export Unique Socks Port
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('port.socks', 1)")
              | Export Unique Socks Port with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('port.socks')")
              | Open Socks Port SPI Graph
          li.divider
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('country.socks', 0)")
              | Export Unique Socks Country
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('country.socks', 1)")
              | Export Unique Socks Country with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('country.socks')")
              | Open Socks Country SPI Graph
          li.divider
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('rawassocksip', 0)")
              | Export Unique Socks ASN
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('rawassocksip', 1)")
              | Export Unique Socks ASN with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('asn.socks')")
              | Open Socks ASN SPI Graph
          li.divider
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('rir.socks', 0)")
              | Export Unique Socks RIR
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('rir.socks', 1)")
              | Export Unique Socks RIR with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('rir.socks')")
              | Open Socks RIR SPI Graph
    dd
      +ipPrint(session.socksip, session.sockspo, session.gsocksip, session.assocksip, session.rirsocksip, "socks")

  if (session.greip)
    +ipArrayList(session, "greip", "GRE IPs", "gre.ip")

  if (session.socksho)
    dt
      div.btn-group.clickable-label(uib-dropdown="")
        button.btn.btn-xs.btn-default(uib-dropdown-toggle="")
          strong Socks Dst&nbsp;
          span.caret
        ul.dropdown-menu(uib-dropdown-menu="")
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('host.socks', 0)")
              | Export Unique Socks Host
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('host.socks', 1)")
              | Export Unique Socks Host with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('host.socks')")
              | Open Socks Host SPI Graph
          li.divider
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('port.socks', 0)")
              | Export Unique Socks Port
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('port.socks', 1)")
              | Export Unique Socks Port with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('port.socks')")
              | Open Socks Port SPI Graph
    dd
      +clickableValue('host.socks', session.socksho)
      | :
      +clickableValue('port.socks', session.sockspo)

  if (session.socksuser)
    dt
      +clickableLabel('socks.user', 'Socks User')
    dd
      +clickableValue('socks.user', session.socksuser)
  if (session.tcpflags)
    dt
      div.btn-group.clickable-label(uib-dropdown="")
        button.btn.btn-xs.btn-default(uib-dropdown-toggle="")
          strong TCP Flags&nbsp;
          span.caret
        ul.dropdown-menu(uib-dropdown-menu="")
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('tcpflags.syn', 0)")
              | Export Unique SYN
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('tcpflags.syn', 1)")
              | Export Unique SYN with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('tcpflags.syn')")
              | Open SYN SPI Graph
          li.divider
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('tcpflags.syn-ack', 0)")
              | Export Unique SYN-ACK
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('tcpflags.syn-ack', 1)")
              | Export Unique SYN-ACK with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('tcpflags.syn-ack')")
              | Open SYN-ACK SPI Graph
          li.divider
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('tcpflags.ack', 0)")
              | Export Unique ACK
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('tcpflags.ack', 1)")
              | Export Unique ACK with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('tcpflags.ack')")
              | Open ACK SPI Graph
          li.divider
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('tcpflags.psh', 0)")
              | Export Unique PSH
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('tcpflags.psh', 1)")
              | Export Unique PSH with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('tcpflags.psh')")
              | Open PSH SPI Graph
          li.divider
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('tcpflags.rst', 0)")
              | Export Unique RST
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('tcpflags.rst', 1)")
              | Export Unique RST with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('tcpflags.rst')")
              | Open RST SPI Graph
          li.divider
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('tcpflags.fin', 0)")
              | Export Unique FIN
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('tcpflags.fin', 1)")
              | Export Unique FIN with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('tcpflags.fin')")
              | Open FIN SPI Graph
          li.divider
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('tcpflags.urg', 0)")
              | Export Unique URG
          li
            a.cursor-pointer(ng-click="$ctrl.exportUnique('tcpflags.urg', 1)")
              | Export Unique URG with counts
          li
            a.cursor-pointer(ng-click="$ctrl.openSpiGraph('tcpflags.urg')")
              | Open URG SPI Graph
    dd
      strong.medium SYN
      +clickableValue('tcpflags.syn', session.tcpflags.syn)
      strong.medium.margined-left-xxlg SYN-ACK
      +clickableValue('tcpflags.syn-ack', session.tcpflags['syn-ack'])
      strong.medium.margined-left-xxlg ACK
      +clickableValue('tcpflags.ack', session.tcpflags.ack)
      strong.medium.margined-left-xxlg PSH
      +clickableValue('tcpflags.psh', session.tcpflags.psh)
      strong.medium.margined-left-xxlg RST
      +clickableValue('tcpflags.rst', session.tcpflags.rst)
      strong.medium.margined-left-xxlg FIN
      +clickableValue('tcpflags.fin', session.tcpflags.fin)
      strong.medium.margined-left-xxlg URG
      +clickableValue('tcpflags.urg', session.tcpflags.urg)
