div.sessionDetailToolbar
  li
    - options = ['natural', 'ascii', 'utf8', 'hex'];
    each item in options
      label.format-base
        input(type="radio",name='format-base-#{session.id}',value=item,checked=query.base==item)
        | #{item}
    label.format-line
      input(type='checkbox', checked=query.line=='true')
      | Line Numbers
  li
    label.format-gzip
      input(type='checkbox', checked=query.gzip=='true')
      | Uncompress
  li
    label.format-image
      input(type='checkbox', checked=query.image=='true')
      | Show Images &amp; Files
  li
    label.format-ts
      input(type='checkbox', checked=query.ts=='true')
      | Show Timestamps
  li
    label.format-other
      | Other Decodings
      img(src="down-arrow.png") 
br
if (session._err)
  b #{session._err}
else 
  if (session.pa > 200)
    b Only showing first 200 packets
  table#textpacket
    tr
      th.textcol.srccol Source
      th.textcol.dstcol Destination

    each item, i in data
      tr
        if item.client == 0
          td.sessionsrc
            if (item.ts)
              span.sessionDetailTS(ts="#{item.ts}", bytes="#{item.bytes}")
            |!{item.html}
          td
        else
          td
          td.sessiondst
            if (item.ts)
              span.sessionDetailTS(ts="#{item.ts}", bytes="#{item.bytes}")
            |!{item.html}
