if (session._err)
  v-alert(type="error" variant="tonal" density="compact")
    strong #{session._err}
else
  if (session.network.packets[0] > reqPackets)
    h5.text-theme-quaternary
      i.mdi.mdi-information.mdi-24px
      | &nbsp; Only showing first #{reqPackets} packets

  div.packet-row#textpacket
    div.packet-cell.packet-cell--src
      h4
        span.srccol
          span.str
          if (session.sourceKey)
            span.small
              | &nbsp;(#{session.sourceKey})
          span.src-col-tip
    div.packet-cell.packet-cell--dst
      h4
        span.dstcol
          span.str
          if (session.destinationKey)
            span.small
              | &nbsp;(#{session.destinationKey})
          span.dst-col-tip

  if (showFrames)
    each item, i in data
      div.packet-row
        if (item.src)
          div.packet-cell.packet-cell--src.sessionsrc
            if (item.ts)
              div.session-detail-ts(value=item.ts)
                em.ts-value #{item.ts}
                if (item.tcpflags)
                  | &nbsp;&nbsp;
                  each flag, key in item.tcpflags
                    if (flag > 0)
                     | &nbsp; #{key} &nbsp;
                span.float-end #{item.bytes}&nbsp;
                  span.bytes
            |!{item.html}
        else
          div.packet-cell.packet-cell--dst.sessiondst
            if (item.ts)
              div.session-detail-ts(value=item.ts)
                em.ts-value #{item.ts}
                if (item.tcpflags)
                  | &nbsp;&nbsp;
                  each flag, key in item.tcpflags
                    if (flag > 0)
                     | &nbsp; #{key} &nbsp;
                span.float-end #{item.bytes}&nbsp;
                  span.bytes
            |!{item.html}

  else
    each item, i in data
      div.packet-row
        if item.client == 0
          div.packet-cell.packet-cell--src.sessionsrc
            if (item.ts)
              div.session-detail-ts(value=item.ts)
                em.ts-value #{item.ts}
                span.float-end #{item.bytes}&nbsp;
                  span.bytes
            |!{item.html}
        else
          div.packet-cell.packet-cell--dst.sessiondst
            if (item.ts)
              div.session-detail-ts(value=item.ts)
                em.ts-value #{item.ts}
                span.float-end #{item.bytes}&nbsp;
                  span.bytes
            |!{item.html}
