//- div.form-inline.packet-options
//-   - options = ['natural', 'ascii', 'utf8', 'hex'];
//-   
//-   div.grouped-radios.display-inline
//-     each item in options
//-       label.cursor-pointer.format-base
//-         input.cursor-pointer(type="radio", name='format-base-#{session.id}',value=item,checked=query.base==item)
//-         | &nbsp;#{item}&nbsp;&nbsp;
//-         
//-   div.checkbox.margined-left-xxlg
//-     label.format-line
//-       input(type='checkbox', checked=query.line=='true')
//-       strong &nbsp;Line Numbers
//-       
//-   div.checkbox.margined-left-xxlg
//-     label.format-gzip
//-       input(type='checkbox', checked=query.gzip=='true')
//-       strong &nbsp;Uncompress
//-       
//-   div.checkbox.margined-left-xxlg
//-     label.format-image
//-       input(type='checkbox', checked=query.image=='true')
//-       strong &nbsp;Show Images &amp; Files
//-       
//-   div.checkbox.margined-left-xxlg
//-     label.format-ts
//-       input(type='checkbox', checked=query.ts=='true')
//-       strong &nbsp;Show Timestamps
      
//- div.display-inline.margined-left-xxlg
//-   div.btn.btn-default.btn-xs.format-other
//-     | Other Decodings &nbsp;
//-     span.fa.fa-bars
      
br
if (session._err)
  b #{session._err}
else 
  if (session.pa > 200)
    b Only showing first 200 packets
  table#textpacket
    tr
      th.textcol.srccol Source
      th.textcol.dstcol Destination

    each item, i in data
      tr
        if item.client == 0
          td.sessionsrc
            if (item.ts)
              span.sessionDetailTS(ts="#{item.ts}", bytes="#{item.bytes}")
            |!{item.html}
          td
        else
          td
          td.sessiondst
            if (item.ts)
              span.sessionDetailTS(ts="#{item.ts}", bytes="#{item.bytes}")
            |!{item.html}
