div(id='sessionDetail#{session.id}')
  div Actions:
    if (session.ro)
      a(href='#', onclick='return addExpression("rootId == #{session.ro}");') All Sessions
      | &nbsp;
      a(href='#{session.no}/pcap/#{session.id}.pcap') Download Segment Pcap
      | &nbsp;
      a(href='#{session.no}/entirePcap/#{session.ro}.pcap') Download Entire Pcap
    else
      a(href='#{session.no}/pcap/#{session.id}.pcap') Download Pcap
    | 
    a(href='#{session.no}/raw/#{session.id}?type=src') Source Raw
    | 
    a(href='#{session.no}/raw/#{session.id}?type=dst') Destination Raw
    | 
    a(href='?expression=id=#{session.id}&date=-1&openAll=1') Permalink
    br
  div Node: 
    a(href='#', onclick='return addExpression("node == #{session.no}");') #{session.no}
  div Start Time: 
    a(href='#', onclick='return setSessionStartTime(#{session.fp});')
      span(id='startTime-#{session.id}')
    | &nbsp;
    | Stop Time:
    a(href='#', onclick='return setSessionStopTime(#{session.lp});')
      span(id='stopTime-#{session.id}')
  if (session.user)
    div Users:
      each user in session.user
        a(href='#', onclick='return addExpression("user == #{user}");') #{user}
        | 
  div IP Protocol: 
    a(href='#', onclick='return addExpression("protocol == #{session.pr}");') #{session.pr}
  div IP/Port: 
    a(href='#', onclick='return addSessionIP(#{session.a1});')
      span(id='a1-#{session.id}')
    | :
    a(href='#', onclick='return addExpression("port.src == #{session.p1}");') #{session.p1}
    if (session.g1)
      |  (
      a(href='#', onclick='return addExpression("country.src == #{session.g1}");') #{session.g1}
      | )
    if (session.as1)
      |  [
      a(href='#', onclick='return addExpression("asn.src == \\\"#{session.as1}\\\"");') #{session.as1}
      | ]
    | &nbsp; &nbsp;
    a(href='#', onclick='return addSessionIP(#{session.a2});')
      span(id='a2-#{session.id}')
    | :
    a(href='#', onclick='return addExpression("port.dst == #{session.p2}");') #{session.p2}
    if (session.g2)
      |  (
      a(href='#', onclick='return addExpression("country.dst == #{session.g2}");') #{session.g2}
      | )
    if (session.as2)
      |  [
      a(href='#', onclick='return addExpression("asn.dst == \\\"#{session.as2}\\\"");') #{session.as2}
      | ]
  if (session.ta)
    div Tags:
      each tag in session.ta
        a(href='#', onclick='return addExpression("tags == \\\"#{tag}\\\"");') #{tag}
        | 
  if (session.hh)
    div Old Headers:
      each header in session.hh
        a(href='#', onclick='return addExpression("oldheader == \\\"#{header}\\\"");') #{header}
        | 
  if (session.hh1)
    div Request Headers:
      each header in session.hh1
        a(href='#', onclick='return addExpression("header.src == \\\"#{header}\\\"");') #{header}
        | 
  if (session.hh2)
    div Response Headers:
      each header in session.hh2
        a(href='#', onclick='return addExpression("header.dst == \\\"#{header}\\\"");') #{header}
        | 
  if (session.ua)
    div User Agents:
      each ua in session.ua
        a(href='#', onclick='return addExpression("ua == \\\"#{ua}\\\"");') '#{ua}'
        | 
  if (session.ho)
    div Hosts:
      each host in session.ho
        a(href='#', onclick='return addExpression("host == #{host}");') #{host}
        | 
  if (session.xff)
    div XFFs:
      - var xffIps = session.xff.map(function(ip) {return (ip>>24 & 0xff) + '.' + (ip>>16 & 0xff) + '.' + (ip>>8 & 0xff) + '.' + (ip & 0xff)});
      each xff,i in xffIps
        a(href='#', onclick='return addExpression("ip.xff == #{xff}");') #{xff}
        | 
        - if (session.gxff)
          a(href='#', onclick='return addExpression("country.xff == #{session.gxff[i]}");') (#{session.gxff[i]})
          | 
        - if (session.asxff)
          a(href='#', onclick='return addExpression("asn.xff == \\\"#{session.asxff[i]}\\\"");') [#{session.asxff[i]}]
          | 
  if (session.dnsip)
    div DNSs:
      - var dnsIps = session.dnsip.map(function(ip) {return (ip>>24 & 0xff) + '.' + (ip>>16 & 0xff) + '.' + (ip>>8 & 0xff) + '.' + (ip & 0xff)});
      each dns,i in dnsIps
        a(href='#', onclick='return addExpression("ip.dns == #{dns}");') #{dns}
        | 
        - if (session.gdnsip)
          a(href='#', onclick='return addExpression("country.dns == #{session.gdnsip[i]}");') (#{session.gdnsip[i]})
          | 
        - if (session.asdnsip)
          a(href='#', onclick='return addExpression("asn.dns == \\\"#{session.asdnsip[i]}\\\"");') [#{session.asdnsip[i]}]
          | 
  if (session.tls)
    each cert in session.tls
      div Certificates: 
        - if (cert.sn)
          | Serial: 
          a(href='#', onclick='return addExpression("cert.serial == #{cert.sn}");') #{cert.sn}
          | 
        - if (cert.iCn && Array.isArray(cert.iCn))
          | Issuer Common: 
          each cn in cert.iCn
            a(href='#', onclick='return addExpression("cert.issuer.cn == \\\"#{cn}\\\"");') #{cn}
            | 
        - else if (cert.iCn)
          | Issuer Common: 
          a(href='#', onclick='return addExpression("cert.issuer.cn == \\\"#{cert.iCn}\\\"");') #{cert.iCn}
          | 
        - if (cert.iOn)
          | Issuer Org: 
          a(href='#', onclick='return addExpression("cert.issuer.on == \\\"#{cert.iOn}\\\"");') #{cert.iOn}
          | 
        - if (cert.sCn && Array.isArray(cert.sCn))
          | Subject Common: 
          each cn in cert.sCn
            a(href='#', onclick='return addExpression("cert.subject.cn == \\\"#{cn}\\\"");') #{cn}
            | 
        - else if (cert.sCn)
          | Subject Common: 
          a(href='#', onclick='return addExpression("cert.subject.cn == \\\"#{cert.sCn}\\\"");') #{cert.sCn}
          | 
        - if (cert.sOn)
          | Subject Org: 
          a(href='#', onclick='return addExpression("cert.subject.on == \\\"#{cert.sOn}\\\"");') #{cert.sOn}
          | 
        if (cert.alt)
          | [
          each alt in cert.alt
            a(href='#', onclick='return addExpression("cert.alt == \\\"#{alt}\\\"");') #{alt}
            | 
          | ]
  if (session.sshkey)
    div SSH Host Key: 
      each key in session.sshkey
          a(href='#', onclick='return addExpression("ssh.key == \\\"#{key}\\\"");') #{key}
          | 
  if (session.sshver)
    div SSH Versions: 
      each ver in session.sshver
          a(href='#', onclick='return addExpression("ssh.ver == \\\"#{ver}\\\"");') #{ver}
          | 
  if (user.emailSearch)
    if (session.esub)
      div Email Subjects: 
        each i in session.esub
            a(href='#', onclick='return addExpression("email.subject == \\\"#{i}\\\"");') #{i}
            | 
    if (session.esrc)
      div Email Senders: 
        each i in session.esrc
            a(href='#', onclick='return addExpression("email.src == \\\"#{i}\\\"");') #{i}
            | 
    if (session.edst)
      div Email Destinations: 
        each i in session.edst
            a(href='#', onclick='return addExpression("email.dst == \\\"#{i}\\\"");') #{i}
            | 
    if (session.eua)
      div Email User Agents: 
        each i in session.eua
            a(href='#', onclick='return addExpression("email.ua == \\\"#{i}\\\"");') #{i}
            | 
    if (session.eid)
      div Email Message Ids: 
        each i in session.eid
            a(href='#', onclick='return addExpression("email.id == \\\"#{i}\\\"");') #{i}
            | 
    if (session.emv)
      div Email Mime Versions: 
        each i in session.emv
            a(href='#', onclick='return addExpression("email.mv == \\\"#{i}\\\"");') #{i}
            | 
    if (session.ect)
      div Email Content Types: 
        each i in session.ect
            a(href='#', onclick='return addExpression("email.ct == \\\"#{i}\\\"");') #{i}
            | 
    if (session.efn)
      div Email Attachment Filenames: 
        each i in session.efn
            a(href='#', onclick='return addExpression("email.fn == \\\"#{i}\\\"");') #{i}
            | 
    if (session.emd5)
      div Email Attachment MD5s: 
        each i in session.emd5
            a(href='#', onclick='return addExpression("email.md5 == \\\"#{i}\\\"");') #{i}
            | 
    if (session.eip)
      div Email IPs:
        - var emailIps = session.eip.map(function(ip) {return (ip>>24 & 0xff) + '.' + (ip>>16 & 0xff) + '.' + (ip>>8 & 0xff) + '.' + (ip & 0xff)});
        each eip,i in emailIps
          a(href='#', onclick='return addExpression("ip.email == #{eip}");') #{eip}
          | 
          - if (session.geip)
            a(href='#', onclick='return addExpression("country.email == #{session.geip[i]}");') (#{session.geip[i]})
            | 
          - if (session.aseip)
            a(href='#', onclick='return addExpression("asn.email == \\\"#{session.aseip[i]}\\\"");') [#{session.aseip[i]}]
            | 
  hr
  div
    if (session.pa > 200)
      p 
        b Only showing first 200 packets
    span
      select(id='format-base-#{session.id}')
        options = ['natural', 'ascii', 'utf8', 'hex']
        for item in options
          option(selected=query.base==item) #{item}
      label Base
    span
      input(id='format-line-#{session.id}', type="checkbox", checked=query.line=='true') 
      label Line Numbers
    span
      input(id='format-gzip-#{session.id}', type="checkbox", checked=query.gzip=='true') 
      label Decode GZip
    span
      input(id='format-image-#{session.id}', type="checkbox", checked=query.image=='true') 
      label Show Images &amp; Files
  table#textpacket
    tr
      th.textcol Source
      th.textcol Destination

    each item, i in data
      tr
        if i % 2 == 0
          td.sessionsrc !{item.html}
          td
        else
          td
          td.sessiondst !{item.html}

  script(type='text/javascript')
    $(function() {
      $('#startTime-#{session.id}').html(dateString(#{session.fp}, " "));
      $('#stopTime-#{session.id}').html(dateString(#{session.lp}, " "));
      $('#a1-#{session.id}').html(ipString(#{session.a1}));
      $('#a2-#{session.id}').html(ipString(#{session.a2}));
      $('input#format-line-#{session.id}, input#format-gzip-#{session.id}, input#format-image-#{session.id}, select#format-base-#{session.id}').on('change', function() {
        var url = "#{session.no}/#{session.id}/sessionDetail" +
                   "?base=" + $('select#format-base-#{session.id} :selected').html() +
                   "&line=" + $('input#format-line-#{session.id}').is(':checked') + 
                   "&image=" + $('input#format-image-#{session.id}').is(':checked') + 
                   "&gzip=" + $('input#format-gzip-#{session.id}').is(':checked');

        $("#sessionDetail#{session.id}").load(url);
      });
    });
