extends layout

include mixins

block content
  h2 Change settings for #{suser.userId} (#{suser.userName})
  form#changeSettings
    input(type='hidden', id='token', name='token', value='#{token}')
    h3 General
    label(for='timezone') Timezone format:
    select#timezone.setting(name="timezone")
      option(value="local") local time
      option(value="gmt") gmt time
    br
    h3 Sessions Tab
    label(for='detailFormat') Session Detail Format:
    select#detailFormat.setting(name="detailFormat")
      option(value="last") last used
      option(value="natural") natural
      option(value="ascii") ascii
      option(value="utf8") utf8
      option(value="hex") hex
    br
    label(for='showTimestamps') Show Timestamps:
    select#showTimestamps.setting(name="showTimestamps")
      option(value="last") last used
      option(value="true") on
      option(value="false") off
    br
    label(for='sortColumn') Sessions Sort Column:
    select#sortColumn.setting(name="sortColumn")
      option(value="start") Start Time
      option(value="stop") Stop Time
      option(value="srcip") Src IP
      option(value="srcport") Src Port
      option(value="dstip") Dst IP
      option(value="dstport") Dst Port
      option(value="packets") Packets
      option(value="bytes") Bytes
      option(value="node") Node
    select#sortDirection.setting(name="sortDirection")
      option(value="asc") Ascending
      option(value="desc") Descending
    h3 SPI Graph Tab
    label(for='spiGraph') Default Graph:
    mixin fieldsSelect("spiGraph", "setting", false)
    h3 Connections Tab
    label(for='connSrcField') Default Src Field:
    mixin fieldsSelect("connSrcField", "setting", true)
    br
    label(for='connDstField') Default Dst Field:
    mixin fieldsSelect("connDstField", "setting", true, [{db: "ip.dst:port", exp: "ip.dst:port"}])
  p
  hr
  h2 Change password for #{suser.userId} (#{suser.userName})
  form#changePassword
    - if (currentPassword)
      label(for='currentPassword') Current Password:
      input(type='password', id='currentPassword', name='currentPassword', size='30')
      br 
    label(for='newPassword') New Password:
    input(type='password', id='newPassword', name='newPassword', size='30')
    br
    label(for='newPassword2') New Password:
    input(type='password', id='newPassword2', name='newPassword2', size='30')
    input(type='hidden', id='token', name='token', value='#{token}')
    p 
    center
      button#change Change Password

  script(type='text/javascript').

    $(document).ready(function() {
      // Selects
      var defaults = {
        spiGraph: "no",
        connSrcField: "a1",
        connDstField: "ip.dst:port"
      };

      ["timezone", "detailFormat", "showTimestamps", "sortColumn", "sortDirection", "spiGraph", "connSrcField", "connDstField"].forEach(function(field) {
        if (molochSettings[field]) {
          $("#" + field + " option[value='" + molochSettings[field] + "']").attr('selected', 'selected');
        } else if (defaults[field]) {
          $("#" + field + " option[value='" + defaults[field] + "']").attr('selected', 'selected');
        }
      });
    });
    

    $('#changePassword').submit(function() {
      if ($("#newPassword").val() != $("#newPassword2").val()) {
        alert("New passwords don't match");
        return false;
      }

      $.ajax( {
        "dataType": 'json',
        "type": "POST",
        "url": "#{basePath}changePassword",
        "data": $("#changePassword").serialize(),
        "success": function(data) {
          if (!data.success) {
            alert(data.text);
          } else {
            alert("Password changed.");
            history.back();
          }
        }
      });
      return false;
    });

    $('.setting').live('change', function (e) {
      $.ajax( {
        "dataType": 'json',
        "type": "POST",
        "url": "#{basePath}changeSettings",
        "data": $("#changeSettings").serialize(),
        "success": function(data) {
          if (!data.success) {
            alert(data.text);
          }
        }
      });
    });
