extends layout

block scripts
  script(type='text/javascript', src='cubism.v1.js')
  script(type='text/javascript', src='highlight.min.js')

block content
  div(style="margin-bottom: 12px")
  div(style="height:2px;")
    select#statsGraphSelect
      option(value="deltaPacketsPerSec") Packets/Sec
      option(value="deltaBytesPerSec") Bytes/Sec
      option(value="deltaBitsPerSec") Bits/Sec
      option(value="deltaSessionsPerSec") Sessions/Sec
      option(value="deltaDroppedPerSec") Dropped/Sec
      option(value="monitoring") Active Sessions
      option(value="freeSpaceM") Free Space
      option(value="memory") Memory
      option(value="cpu") CPU
      option(value="diskQueue") Disk Queue
  div#statsGraph
  table#stats(cellpadding="0",cellspacing="0",border="0",class="display",style="table { clear: both }")
    thead
      tr
        th
        th Node
        th Time
        th Packets Captured
        th Kilobytes Saved
        th Sessions Saved
        th Active Sessions
        th Free Space MB
        th Memory MB
        th CPU
        th Disk Queue
        th Packets / Sec
        th Bytes / Sec
        th Sessions / Sec
        th Drops / Sec
    tbody
    tfoot
      tr#avg
        th
        th Average
        th
        th
        th
        th
        th
        th
        th
        th
        th
        th
        th
        th
        th
      tr#tot
        th
        th Total
        th
        th
        th
        th
        th
        th
        th
        th
        th
        th
        th
        th
        th
  br
  h1 Elasticsearch
  table#esstats(cellpadding="0",cellspacing="0",border="0",class="display",style="table { clear: both }")
    thead
      tr
        th Node
        th Documents
        th Disk Storage (MB)
        th Heap Size (MB)
        th OS Load
        th ES CPU (%)
        th Read/Sec (K)
        th Write/Sec (K)
        th Searches
    tbody
    tfoot
      tr#avges
        th Average
        th
        th
        th
        th
        th
        th
        th
        th
      tr#totes
        th Total
        th
        th
        th
        th
        th
        th
        th
        th
  br

  script(type='text/javascript').
    var statsTable;
    var esstatsTable;

    var context = cubism.context()
        .serverDelay(0)
        .clientDelay(0)
        .step(5e3)
        .size(1440);

    function makeStatsGraph(metricName) {
      function metric(name) {
        return context.metric(function(startV, stopV, stepV, callback) {
          $.ajax( {
            "dataType": 'json',
            "type": "GET",
            "url": "#{basePath}dstats.json?nodeName=" + name +
                          "&start=" + startV/1000 +
                          "&stop=" + stopV/1000 +
                          "&step=" + stepV/1000 +
                          "&interval=5" +
                          "&name=" + metricName,
            "success": function(data) {
              if (metricName === "cpu") {
                for (i = 0; i < data.length; i++) {
                  data[i] = data[i]/100.0;
                }
              }
              callback(null, data);
            }
          });
        }, name);
      }

      $("#statsGraph").empty();
      d3.select("#statsGraph").call(function(div) {
        var nodes = !{JSON.stringify(nodes)};
        var metrics = [];
        for (var i = 0, ilen = nodes.length; i < ilen; i++) {
          metrics.push(metric(nodes[i]));
        }

        div.append("div")
            .attr("class", "axis")
            .call(context.axis().orient("top"));

        div.selectAll(".horizon")
            .data(metrics)
          .enter().append("div")
            .attr("class", "horizon")
            .call(context.horizon());

        div.append("div")
            .attr("class", "rule")
            .call(context.rule());

      });
    }

    makeStatsGraph("deltaPackets");

    context.on("focus", function(i) {
        d3.selectAll(".value").style("right", i === null ? null : context.size() - i + "px");
    });

    function numberRender(data, type, row, meta) {
      if (type === "display") {
        return numberWithCommas(data);
      } else {
        return data;
      }
    }

    function numberRenderM(data, type, row, meta) {
      if (type === "display") {
        return numberWithCommas(Math.ceil(data/1000000));
      } else {
        return data;
      }
    }

    function dateRender(data, type, row, meta) {
      if (type === "display") {
        return dateString(data, " ");
      } else {
        return data;
      }
    }




    $(document).ready(function() {
      statsTable = $('#stats').DataTable( {
        language: {
          processing: "<img src=\"watching.gif\"><div class='blink'>I'm Hootin' :D</div>",
          lengthMenu: "_MENU_",
          search: "Node filter: "
        },
        dom: '<"fg-toolbar ui-widget-header ui-helper-clearfix"ipfr>t<"fg-toolbar ui-widget-header ui-helper-clearfix"ip>',
        paginationType: "full_numbers",
        pageLength: 500,
        lengthMenu: [100, 500, 1000, 5000],
        retrieve: true,
        scrollCollapse: true,
        autoWidth: false,
        columns: [
          {
            data : null,
            width: "30",
            sortable: false,
            render: function (data, type, row, meta) {
              if (statsTable.row(meta.row).child.isShown()) {
                return '<img src="images/details_close.png" height="20px">';
              } else {
                return '<img src="images/details_open.png" height="20px">';
              }
            },
            className: "right",
            searchable: false
          },
          {
            data : "id",
            type: "string",
            className: "right",
            searchable: true
          },
          {
            data : "currentTime",
            render: dateRender,
            className: "right",
            searchable: false
          },
          {
            data : "totalPackets",
            render: numberRender,
            className: "right",
            searchable: false
          },
          {
            data : "totalK",
            render: numberRender,
            className: "right",
            searchable: false
          },
          {
            data : "totalSessions",
            render: numberRender,
            className: "right",
            searchable: false
          },
          {
            data : "monitoring",
            render: numberRender,
            className: "right",
            searchable: false
          },
          {
            data : "freeSpaceM",
            render: numberRender,
            className: "right",
            searchable: false
          },
          {
            data : "memory",
            render: numberRenderM,
            className: "right",
            searchable: false
          },
          {
            data : "cpu",
            render: function (data, type, row, meta) {
              if (type === "display") {
                return data/100.0;
              } else {
                return data;
              }
            },
            className: "right",
            searchable: false
          },
          {
            data : "diskQueue",
            render: function (data, type, row, meta) {
              if (type === "display") {
                return numberWithCommas(Math.ceil(data));
              } else {
                return data;
              }
            },
            className: "right",
            searchable: false
          },
          {
            data : "deltaPacketsPerSec",
            render: numberRender,
            className: "right",
            searchable: false
          },
          {
            data : "deltaBytesPerSec",
            render: numberRender,
            className: "right",
            searchable: false
          },
          {
            data : "deltaSessionsPerSec",
            render: numberRender,
            className: "right",
            searchable: false
          },
          {
            data : "deltaDroppedPerSec",
            render: numberRender,
            className: "right",
            searchable: false
          }
        ],
        order: [[1, "asc"]],
        footerCallback: function ( nRow, aaData, iStart, iEnd, aiDisplay ) {
          var avgCells = $('tr#avg > th');
          var totCells = $('tr#tot > th');

          var totals = {totalPackets: 0, totalK: 0, totalSessions:0, deltaPacketsPerSec:0, deltaBytesPerSec:0 , deltaSessionsPerSec: 0, deltaDroppedPerSec: 0, monitoring: 0, memory: 0, cpu: 0, diskQueue: 0};
          for (var r = 0, rlen = aaData.length; r < rlen; r++) {
              totals.totalPackets += aaData[r].totalPackets;
              totals.totalK += aaData[r].totalK;
              totals.totalSessions += aaData[r].totalSessions;

              totals.deltaDroppedPerSec += aaData[r].deltaDroppedPerSec;
              totals.deltaSessionsPerSec += aaData[r].deltaSessionsPerSec;
              totals.deltaPacketsPerSec += aaData[r].deltaPacketsPerSec;
              totals.deltaBytesPerSec += aaData[r].deltaBytesPerSec;
              totals.monitoring += aaData[r].monitoring;
              totals.memory += aaData[r].memory;
              totals.cpu += aaData[r].cpu;
              totals.diskQueue += aaData[r].diskQueue;
          }

          totCells[3].innerHTML = numberWithCommas(totals.totalPackets);
          totCells[4].innerHTML = numberWithCommas(totals.totalK);
          totCells[5].innerHTML = numberWithCommas(totals.totalSessions);
          totCells[6].innerHTML = numberWithCommas(totals.monitoring);
          totCells[8].innerHTML = numberWithCommas(totals.memory);
          totCells[9].innerHTML = "" + (totals.cpu/100.0);
          totCells[10].innerHTML = numberWithCommas(totals.diskQueue);
          totCells[11].innerHTML = numberWithCommas(totals.deltaPacketsPerSec);
          totCells[12].innerHTML = numberWithCommas(totals.deltaBytesPerSec);
          totCells[13].innerHTML = numberWithCommas(totals.deltaSessionsPerSec);
          totCells[14].innerHTML = numberWithCommas(totals.deltaDroppedPerSec);

          avgCells[3].innerHTML = numberWithCommas(Math.floor(totals.totalPackets/aaData.length));
          avgCells[4].innerHTML = numberWithCommas(Math.floor(totals.totalK/aaData.length));
          avgCells[5].innerHTML = numberWithCommas(Math.floor(totals.totalSessions/aaData.length));
          avgCells[6].innerHTML = numberWithCommas(Math.floor(totals.monitoring/aaData.length));
          avgCells[8].innerHTML = numberWithCommas(Math.floor(totals.memory/aaData.length));
          avgCells[9].innerHTML = "" + Math.floor(totals.cpu/aaData.length)/100;
          avgCells[10].innerHTML = numberWithCommas(Math.floor(totals.diskQueue/aaData.length));
          avgCells[11].innerHTML = numberWithCommas(Math.floor(totals.deltaPacketsPerSec/aaData.length));
          avgCells[12].innerHTML = numberWithCommas(Math.floor(totals.deltaBytesPerSec/aaData.length));
          avgCells[13].innerHTML = numberWithCommas(Math.floor(totals.deltaSessionsPerSec/aaData.length));
          avgCells[14].innerHTML = numberWithCommas(Math.floor(totals.deltaDroppedPerSec/aaData.length));
        }
      } );

      esstatsTable = $('#esstats').DataTable( {
        language: {
          processing: "<img src=\"watching.gif\"><div class='blink'>I'm Hootin' :D</div>",
          lengthMenu: "_MENU_",
          search: "Node filter: "
        },
        dom: '<"fg-toolbar ui-widget-header ui-helper-clearfix"ipfr>t<"fg-toolbar ui-widget-header ui-helper-clearfix"ip>',
        paginationType: "full_numbers",
        pageLength: 500,
        lengthMenu: [100, 500, 1000, 5000],
        scrollCollapse: true,
        autoWidth: false,
        columns: [
          {
            data : "name",
            className: "right",
            type: "string",
            searchable: true
          },
          {
            data : "docs",
            render: numberRender,
            className: "right",
            searchable: false
          },
          {
            data : "storeSize",
            render: numberRenderM,
            className: "right",
            searchable: false
          },
          {
            data : "heapSize",
            render: numberRenderM,
            className: "right",
            searchable: false
          },
          {
            data : "load",
            render: function (data, type, row, meta) {
              if (type === "display") {
                return "[" + data[0].toFixed(2) + ", " + data[1].toFixed(2) + ", " + data[2].toFixed(2) + "]";
              } else {
                return data;
              }
            },
            className: "right",
            searchable: false
          },
          {
            data : "cpu",
            render: numberRender,
            className: "right",
            searchable: false
          },
          {
            data : "read",
            render: numberRender,
            className: "right",
            searchable: false
          },
          {
            data : "write",
            render: numberRender,
            className: "right",
            searchable: false
          },
          {
            data : "searches",
            render: numberRender,
            className: "right",
            searchable: false
          }
        ],
        order: [[3, "desc"]],
        footerCallback: function ( nRow, aaData, iStart, iEnd, aiDisplay ) {
          var totals = {docs: 0, storeSize: 0, heapSize:0, load: [0,0,0], cpu:0, read:0, write:0, searches:0};
          for (var r = 0, rlen = aaData.length; r < rlen; r++) {
              totals.docs += aaData[r].docs;
              totals.storeSize += aaData[r].storeSize;
              totals.heapSize += aaData[r].heapSize;
              totals.cpu += aaData[r].cpu;
              totals.read += aaData[r].read;
              totals.write += aaData[r].write;
              totals.searches += aaData[r].searches;
              var load = aaData[r].load;
              totals.load[0] += load[0];
              totals.load[1] += load[1];
              totals.load[2] += load[2];
          }

          var avgCells = $('tr#avges > th');
          var totCells = $('tr#totes > th');

          $(totCells[1]).html(numberWithCommas(totals.docs));
          $(totCells[2]).html(numberWithCommas(Math.ceil(totals.storeSize/1000000)));
          $(totCells[3]).html(numberWithCommas(Math.ceil(totals.heapSize/1000000)));
          $(totCells[4]).html("[" + totals.load[0].toFixed(2) + ", " + totals.load[1].toFixed(2) + ", " + totals.load[2].toFixed(2) + "]");
          $(totCells[5]).html(numberWithCommas(totals.cpu));
          $(totCells[6]).html(numberWithCommas(totals.read));
          $(totCells[7]).html(numberWithCommas(totals.write));
          $(totCells[8]).html(numberWithCommas(totals.searches));

          $(avgCells[1]).html(numberWithCommas(Math.floor(totals.docs/aaData.length)));
          $(avgCells[2]).html(numberWithCommas(Math.floor(totals.storeSize/aaData.length/1000000)));
          $(avgCells[3]).html(numberWithCommas(Math.floor(totals.heapSize/aaData.length/1000000)));
          $(avgCells[4]).html("[" + (totals.load[0]/aaData.length).toFixed(2) + ", " + (totals.load[1]/aaData.length).toFixed(2) + ", " + (totals.load[2]/aaData.length).toFixed(2) + "]");
          $(avgCells[5]).html(numberWithCommas(Math.floor(totals.cpu/aaData.length)));
          $(avgCells[6]).html(numberWithCommas(Math.floor(totals.read/aaData.length)));
          $(avgCells[7]).html(numberWithCommas(Math.floor(totals.write/aaData.length)));
          $(avgCells[8]).html(numberWithCommas(Math.floor(totals.searches/aaData.length)));
        }
      } );

      $(document).on('click', '#stats tbody td img', function () {
        var nTr = this.parentNode.parentNode;
        var row = statsTable.row(nTr);
        if (row.child.isShown()) {
          this.src = "images/details_open.png";
          row.child.hide();
        } else {
          this.src = "images/details_close.png";
          $.ajax( {
            "dataType": 'html',
            "type": "GET",
            "url": '#{basePath}' + row.data().id + '/statsDetail',
            "success": function(data) {
              statsTable.row(nTr).child(data, 'details').show();
            }
          } );

        }
      } );

      function reloadData() {
        $.ajax( {
          "dataType": 'json',
          "type": "GET",
          "url": '#{basePath}stats.json',
          "success": function(data) {
            var nNodes = statsTable.rows().nodes().flatten().toArray();
            for (var i = 0, ilen = data.data.length; i < ilen; i++) {
              var found = false;
              for (var n = 0, nlen = nNodes.length; n < nlen; n++) {
                var id = statsTable.cell(n, 1).data();
                if (id === data.data[i].id) {
                  found = true;
                  statsTable.row(n).data(data.data[i]);
                  break;
                }
              }
              if (!found) {
                statsTable.row.add(data.data[i]);
              }
            }
            statsTable.draw();
          }
        } );

        $.ajax( {
          "dataType": 'json',
          "type": "GET",
          "url": '#{basePath}esstats.json',
          "success": function(data) {
            updateHealth(data.health);
            var nNodes = esstatsTable.rows().nodes().flatten().toArray();
            for (var i = 0, ilen = data.data.length; i < ilen; i++) {
              var found = false;
              for (var n = 0, nlen = nNodes.length; n < nlen; n++) {
                var name = esstatsTable.cell(n, 0).data();
                if (name === data.data[i].name) {
                  found = true;
                  esstatsTable.row(n).data(data.data[i]);
                  break;
                }
              }
              if (!found) {
                esstatsTable.row.add(data.data[i]);
              }
            }
            esstatsTable.draw();
          }
        } );
      }

      $('#statsGraphSelect').change(function() {
        makeStatsGraph($('#statsGraphSelect').val());
        return false;
      });

      setInterval(reloadData, 5000);
      reloadData();
    } );
