<!DOCTYPE html>
<html style="overflow-y: hidden;">
  <head>
    <base href="<%= path %>">
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer">
    <meta property="csp-nonce" content="<%= nonce %>">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="mdi-font/css/materialdesignicons.min.css" nonce="<%= nonce %>" type="text/css">
    <title>Cont3xt</title>
    <% if (environment !== 'development') { %>
      <link rel="stylesheet" href="<%= manifest['cont3xt/vueapp/src/main.js'].css %>" />
    <% } %>
  </head>
  <script nonce="<%= nonce %>">
    const WEB_PATH = '<%= path %>';
    const VERSION = '<%= version %>';
    const LOGOUT_URL = '<%= logoutUrl %>';
    const DISABLE_USER_PASSWORD_UI = <%= disableUserPasswordUI %>;
    const DEMO_MODE = <%= demoMode %>;
  </script>
  <body>
    <div id="app"></div>

    <% if (environment === 'development') { %>
      <!-- development: load the main application from Vite ====== -->
      <!-- vite's client for HMR/errors -->
      <script type="module" src="http://localhost:5174/@vite/client"></script>
      <script type="module" src="http://localhost:5174/cont3xt/vueapp/src/main.js" nonce="<%= nonce %>"></script>
    <% } else { %>
      <!-- production: use bundled js file (mapped through .vite's manifest.json) -->
      <script type="module" src="<%= manifest['cont3xt/vueapp/src/main.js'].file %>" nonce="<%= nonce %>"></script>
    <% } %>
  </body>
</html>
