if (session.tls || session["tlsver-term"])
  div.sessionDetailMeta.bold TLS
  dl.sessionDetailMeta
    +arrayList(session, "tlsver-term", "Version", "tls.version")
    +arrayList(session, "tlscipher-term", "Cipher", "tls.cipher")
    +arrayList(session, "tlssrcid-term", "Src Session Id", "tls.sessionid.src")
    +arrayList(session, "tlsdstid-term", "Dst Session Id", "tls.sessionid.dst")
    +arrayList(session, "tlsja3-term", "JA3", "tls.ja3")
    if (session.tls)
      each cert in session.tls
        dt Certificate
        dd
          - if (cert.sn)
            | Serial: 
            a.moloch-right-click(href='#', molochexpr='cert.serial') #{cert.sn}
          if (cert.hash)
            |  [
            a.moloch-right-click(href='#', molochexpr='cert.hash') #{cert.hash}
            | ]
          - if (cert.notBefore)
            |  Not Before: 
            a.formatSeconds(href='#', onclick='return addExpressionSeconds("cert.notbefore", #{cert.notBefore});') #{cert.notBefore}
          - if (cert.notAfter)
            |  Not After: 
            a.formatSeconds(href='#', onclick='return addExpressionSeconds("cert.notafter", #{cert.notAfter});') #{cert.notAfter}
          - if (cert.iCn && Array.isArray(cert.iCn))
            |  Issuer Common: 
            each cn,i in cert.iCn
              if (i > 0)
                |, 
              a.moloch-right-click(href='#', molochexpr='cert.issuer.cn') #{cn}
          - else if (cert.iCn)
            |  Issuer Common: 
            a.moloch-right-click(href='#', molochexpr='cert.issuer.cn') #{cert.iCn}
          - if (cert.iOn)
            |  Issuer Org: 
            a.moloch-right-click(href='#', molochexpr='cert.issuer.on') #{cert.iOn}
          - if (cert.sCn && Array.isArray(cert.sCn))
            |  Subject Common: 
            each cn,i in cert.sCn
              if (i > 0)
                |, 
              a.moloch-right-click(href='#', molochexpr='cert.subject.cn') #{cn}
          - else if (cert.sCn)
            | Subject Common: 
            a.moloch-right-click(href='#', molochexpr='cert.subject.cn') #{cert.sCn}
          - if (cert.sOn)
            |  Subject Org: 
            a.moloch-right-click(href='#', molochexpr='cert.subject.on') #{cert.sOn}
          if (cert.alt)
            |  [
            each alt,i in cert.alt
              if (i > 0)
                |, 
              a.moloch-right-click(href='#', molochexpr='cert.alt') #{alt}
            | ]
